.App {
  margin-top : 4rem;
}

.container {
  display:flex;
  justify-content: center;
}

.box {
  border-radius : 5px;
  padding: 4rem;
  box-shadow: 0 0 5px;
  text-align: center;
}

.input-box{
  padding : 2rem 1rem;
}

.input-box input{
  padding : 0.5rem 0.5rem;
  font-size : 1rem;
  font-weight : 600;
}

.btn{
  box-shadow: 0 0 5px;
  border : none;
  border-radius : 5px;
  padding : 1rem;
  margin-right: 10px;
}

.btn:last-child{
  margin-right: 0px;
  
}

.btn:hover{

}